{{- if not .Params.hideSocialIcons }}
{{- if .Site.Params.socialIcons }}
<div class="social-icons" {{ with .align}}align="{{.}}" {{- end }}>
  {{- range $.Site.Params.socialIcons }}
  <a href="{{ if eq .name "wechat" }}javascript:void(0);{{ else }}{{ .url }}{{ end }}" 
     title="{{ .title | default .name | humanize }}" 
     {{ if ne .name "wechat" }}target="_blank" rel="noopener noreferrer"{{ end }}
     {{ if eq .name "wechat" }}data-wechat-id="{{ .wechatId | default "" }}" class="wechat-link"{{ end }}
     aria-label="{{ .title | default .name | humanize }}">
    {{- with resources.Get (printf "icons/%s.svg" .name) }}
      {{- .Content | safeHTML }}
    {{- end }}
  </a>
  {{- end }}
</div>
{{- end }}
{{- end }}
